<html>
  <body>
    <h1>ADD NEW SIGHTING DETAILS</h1>
    <form action="/new" method="POST">
      <label for="year">Sighting Year</label><br />
      <input type="text" id="year" name="year" /><br />
      <label for="season">Sighting Season</label><br />
      <input type="text" id="season" name="season" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
